@font-face {
    font-family: 'Kalameh';
    src: url('../fonts/kalameh/Kalameh-Regular.ttf') format('ttf'),
        url('../fonts/kalameh/Kalameh-Regular.woff2') format('woff2'),
        url('../fonts/kalameh/Kalameh-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media all and (min-width:992px) {
    .main-header .search-container {
        width: 50%;
    }

    .menu-header button {
        font-size: 1.5rem;
    }

    .menu-header li {
        font-size: 1.2rem;
    }
}


@media all and (max-width:991px) {

    .menu-header svg,
    .main-header svg {
        width: 20px;
    }

    .main-header .login-container img {
        width: 25px;
    }

}

body {
    background-color: #FFF9E3;
    font-family: Kalameh;
}

.main-header img[alt=Logo] {
    width: 8.75rem;
}


.menu-header {
    background-color: #F0F0F0;
}

.menu-header>div {
    margin-left: 2rem;
}

.main-header .login-icon {
    cursor: pointer;
}