@font-face {
    font-family: 'Kalameh';
    src: url('../fonts/kalameh/Kalameh-Regular.ttf') format('ttf'),
        url('../fonts/kalameh/Kalameh-Regular.woff2') format('woff2'),
        url('../fonts/kalameh/Kalameh-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@media all and (min-width:992px) {
    .main-header .search-container {
        width: 50%;
    }

    .menu-header span {
        font-size: 1.8rem;
    }
}


@media all and (max-width:991px) {

    .menu-header svg,
    .main-header svg {
        width: 20px;
    }

    .main-header .login-container img {
        width: 25px;
    }

}

body {
    background-color: #FFF9E3;
    font-family: Kalameh;
}

.main-header img[alt=Logo] {
    width: 8.75rem;
}


.menu-header {
    background-color: #F0F0F0;
}

.menu-header>div {
    margin-left: 2rem;
}


.gallery {
    height: 600px;
}

.gallery .pic {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    transition: all 1.75s ease-in-out 0s;
}

.gallery .pic:hover {
    background-position: center bottom;
    /* transform: scale(0.8); */
}

.gallery .pic-1 {
    background-image: url("../img/3.webp");
}

.gallery .pic-2 {
    background-image: url("../img/4.webp");
}

.gallery .pic-3 {
    background-image: url("../img/5.webp");
}

.gallery .pic-4 {
    background-image: url("../img/6.webp");
}